<html>
<head>
	<title>{{questionName}} - Quaestio</title>
</head>
<body>
	<h2>{{status}}</h2>
	Your answer: {{answer}}
	<br>
	Correct answer: {{correctAnswer}}
	<hr>
	<button onclick="location.replace(location.pathname)">Next Question</button>

</body>
</html>