<html>
<head>
	<title>Results - Quaestio</title>
</head>
<body>
	<h2>Results</h2>
	<h3>{{percent}} ({{correct}}/{{total}})</h3>
	<hr>
	<button onclick="location.replace('/')">New Quiz</button>

</body>
</html>