<html>
<head>
	<title>{{questionName}} - Quaestio</title>
</head>
<body>
	<script>
		function checkAnswer(answer){
			answer=encodeURI(answer);
			location.replace("?answer=" + answer)
		}
	</script>
	Question {{questionNumber}} of {{total}}
	<h2>{{questionName}}</h2>
	{% for answer in question %}
		<br>
		<button onclick="checkAnswer('{{answer}}');">{{answer}}</button>
	{% endfor %}
</body>
</html>