<html>
<head>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/codemirror.min.css' rel='stylesheet'>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/codemirror.js'></script>
	<title>Quiz Editor - Quaestio</title>
	<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
</head>
<body>
	<h2>Quiz Editor</h2>
	<div id="quiz-editor"></div>
	<button onclick="quizEditor.addRow({});">Add Term</button>
	<hr>
	Answer with:
	<select id="answerType" onchange="saveQuiz();">
		<option value="term">Term</option>
		<option value="definition">Definition</option>
	</select>
	<button onclick="generateQuiz();">Generate Quiz</button>
	<br>
	<sub>You can send the URL of this page to share your quiz</sub>
	<br>
	<script>
		var editor;
		function generateQuiz(){
			set=encodeURI(exportQuiz());
			window.open("../generate" + "?set=" + set + "&answerType=" + document.getElementById("answerType").value);
		}
		function saveQuiz(){
			set=encodeURI(exportQuiz());
			window.history.pushState('editor', 'editor', "/quiz/edit/custom?set=" + set + "&answerType=" + document.getElementById("answerType").value);
		}
		var quizEditor = new Tabulator("#quiz-editor", {
			addRowPos:"bottom",
			layout:"fitColumns",
			columns:[
				{title:"Term", field:"term", editor:"input", cellEdited:function(cell){saveQuiz();}, resizable: false},
				{title:"Definition", field:"definition", editor:"input", cellEdited:function(cell){saveQuiz();}, resizable: false},
				{formatter:"buttonCross", width:30, align:"center", cellClick:function(e, cell){quizEditor.deleteRow(cell.getRow());saveQuiz();}, resizable: false, headerSort: false}
			],
		});
		function exportQuiz(){
			// Get set from editor
			terms=quizEditor.getData();
			converted="";
			// Assemble quiz from dictionary
			for(term in terms){
				converted += terms[term]["term"];
				converted += "	";
				converted += terms[term]["definition"];
				converted += "\n";
			}
			return(converted);
		}
		function importQuiz(terms){
			// Split lines in set
			terms=terms.split("\n");
			converted=[];
			for(termNumber in terms){
				// Split term from definition
				termRaw=terms[termNumber].split("\t");
				term=termRaw[0]
				definition=termRaw[1]
				// Replace undefined with empty string
				if(definition == "undefined" || definition == undefined){
					definition=""
				}
				// Only import lines that have either a term or definition
				if(term.replace(/\s/g, "") != "" || definition.replace(/\s/g, "") != ""){
					converted.push({id:termNumber, term:term, definition:definition});
				}
			}
			quizEditor.setData(converted);
		}
		importQuiz("{{template}}");
	</script>
</body>
</html>
