<html>
<head>
	<title>Quaestio</title>
</head>
<body>
	<h1>Quaestio</h1>
	<h2>Welcome, please select a quiz</h2>
	<h3>Please note this software is in early development and is probably very buggy and ugly</h3>
	<br>
	<a href="/quiz/edit/custom">Custom Quiz</a>
	<h4>Example Quizzes</h4>
	<ul>
		{% for example in examples %}
			<li><a href="/quiz/edit/{{example}}">{{example}}</a></li>
		{% endfor %}
	</ul>

</body>
</html>
